node_modules
.env
.env.local
cache
artifacts
typechain
typechain-types
deployments.json

# Hardhat
coverage
coverage.json
*.log

# Frontend
frontend/.next
frontend/out
frontend/build
frontend/.env.local
